[settings]
hostname="localhost"
workers=2
timer=1000

[logging]
level="info"



[[r_plugin]]
name="cpu"
enabled=true
interval=1
config.show_total=false

[[r_plugin]]
name="memory"
enabled=true
interval=5

[[r_plugin]]
name="sensors"
enabled=false
interval=1

[[r_plugin]]
name="ipaddrs"
enabled=false
interval=0

[[p_plugin]]
name="logger"
enabled=true
