<?xml version='1.0' encoding='windows-1252' ?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<!--
It's assumed this will be used in an Appveyor environment that was
triggered from a Jenkins build. Thus we expect JENKINS_BUILD_NUMBER
env variable to be available with the jenkins build number that triggered
the currrent appveyor build
-->
<?ifdef env.JENKINS_BUILD_NUMBER ?>
  <?define PsistatsVersion = "0.3.0.$(env.JENKINS_BUILD_NUMBER)" ?>
<?else ?>
  <?define PsistatsVersion = "0.3.0.0" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id='*'
        Name='Psistats'
        UpgradeCode='4F653672-D6AF-4867-837E-A0DF96E07795'
        Manufacturer='Psikon'
        Language='1033'
        Codepage='1252'
        Version='$(var.PsistatsVersion)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Psistats system metrics reporting tool'
            Manufacturer='Psikon'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>


        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Psistats Installation'/>
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='psistats'>
                    <Component Id='License' Guid='*' Win64='$(var.Win64)'>
                        <File Id='LicenseFile'
                            Name='License.rtf'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='PsistatsExe' Guid='*' Win64='$(var.Win64)'>
                        <File
                            Id='PsistatsExeFile'
                            Name='psistats.exe'
                            DiskId='1'
                            Source='target\release\unzipped\psistats.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='PsistatsServiceExe' Guid='*' Win64='$(var.Win64)'>
                      <File Id='PsistatsServiceExeFile'
                        Name='psistats-service-winsw.exe'
                        DiskId='1'
                        Source='wix\psistats-service-winsw.exe'
                        KeyPath='yes'/>
                    </Component>
                    <Component Id='PsistatsServiceExeXml' Guid='*' Win64='$(var.Win64)'>
                      <File Id='PsistatsServiceExeXmlFile'
                        Name='psistats-service-winsw.xml'
                        DiskId='1'
                        Source='wix\psistats-service-winsw.xml'
                        KeyPath='yes'/>
                    </Component>
                    <Directory Id='PLUGINSFOLDER' Name='plugins'/>
                    <Directory Id='CONFIGFOLDER' Name='config'>
                      <Component Id='PsistatsToml' Guid='*' Win64='$(var.Win64)'>
                        <File Id='PsistatsTomlFile'
                          Name='psistats.toml'
                          DiskId='1'
                          Source='psistats.toml'
                          KeyPath='yes'/>
                      </Component>
                    </Directory>
                  </Directory>
                </Directory>
                </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <!--
              Comment out or remove the following `ComponentRef` tag to remove
              the license sidecar file from the installer.
            -->
            <ComponentRef Id='License'/>
            <ComponentRef Id='PsistatsServiceExe'/>
            <ComponentRef Id='PsistatsServiceExeXml' />
            <ComponentRef Id='PsistatsToml' />
            <ComponentRef Id='PsistatsExe'/>
            <ComponentGroupRef Id='PsistatsPlugins'/>

        </Feature>
<SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <CustomAction Id='POST_INSTALL'
          Execute="deferred"
          FileKey="PsistatsServiceExeFile"
          Impersonate="no"
          Return="ignore"
          HideTarget="no"
          ExeCommand="install"/>

        <CustomAction Id='POST_UNINSTALL'
          Execute="deferred"
          FileKey="PsistatsServiceExeFile"
          Impersonate="no"
          Return="ignore"
          HideTarget="no"
          ExeCommand="uninstall"/>

        <InstallExecuteSequence>
          <Custom Action="POST_INSTALL" After="InstallFiles">(NOT Installed) AND (NOT REMOVE)</Custom>
          <Custom Action="POST_UNINSTALL" After="InstallInitialize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE~="ALL")</Custom>
        </InstallExecuteSequence>
        <!--
          Uncomment the following `Icon` and `Property` tags to change the product icon.

          The product icon is the graphic that appears in the Add/Remove
          Programs control panel for the application.
        -->
        <!--<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>-->
        <!--<Property Id='ARPPRODUCTICON' Value='ProductICO' />-->

        <Property Id='ARPHELPLINK' Value='https://www.psikon.org'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <!--
              Disabling the EULA dialog in the installer is a two step process:

                 1. Uncomment the following two `Publish` tags
                 2. Comment out or remove the `<WiXVariable Id='WixUILicenseRtf'...` tag further down

            -->
            <!--<Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>-->
            <!--<Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>-->

        </UI>

        <!--
          Disabling the EULA dialog in the installer requires commenting out
          or removing the following `WixVariable` tag
        -->
        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>


        <!--
          Uncomment the next `WixVaraible` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom banner image across
          the top of each screen. See the WiX Toolset documentation for details
          about customization.

          The banner BMP dimensions are 493 x 58 pixels.
        -->
        <!--<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>-->


        <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom image to the first
          dialog, or screen. See the WiX Toolset documentation for details about
          customization.

          The dialog BMP dimensions are 493 x 312 pixels.
        -->
        <!--<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>-->

    </Product>

</Wix>

<!--
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='psistats'
        UpgradeCode='1277EA09-A199-4D51-B54B-33BEB9FBFA20'
        Manufacturer='Alex Dow'
        Language='1033'
        Codepage='1252'
        Version='0.1.0.$(env.APPVEYOR_BUILD_NUMBER)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Psistats system metrics reporting tool'
            Manufacturer='Alex Dow'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='psistats Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='psistats'>
                    <!==
                      Disabling the license sidecar file in the installer is a two step process:

                      1. Comment out or remove the `Component` tag along with its contents.
                      2. Comment out or remove the `ComponentRef` tag with the "License" Id
                         attribute value further down in this file.
                    ==>
                    <Component Id='License' Guid='*' Win64='$(var.Win64)'>
                        <File Id='LicenseFile'
                            Name='License.rtf'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='PsistatsServiceExe' Guid='*' Win64='$(var.Win64)'>
                      <File Id='PsistatsServiceExeFile'
                        Name='psistats-service.exe'
                        DiskId='1'
                        Source='wix\psistats-service.exe'
                        KeyPath='yes'/>
                    </Component>
                    <Component Id='PsistatsToml' Guid='*' Win64='$(var.Win64)'>
                      <File Id='PsistatsTomlFile'
                        Name='psistats.toml'
                        DiskId='1'
                        Source='psistats.toml'
                        KeyPath='yes'/>
                    </Component>
                    <Component Id='PsistatsServiceXml' Guid='*' Win64='$(var.Win64)'>
                      <File Id='PsistatsServiceXmlFile'
                        Name='psistats-service.xml'
                        DiskId='1'
                        Source='wix\psistats-service.xml'
                        KeyPath='yes'/>
                    </Component>

                        <Component Id='Path' Guid='2B906637-5FFD-4519-B13F-76AFA5CAC26F' Win64='$(var.Win64)' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[TARGETDIR]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*' Win64='$(var.Win64)'>
                            <File
                                Id='exe0'
                                Name='psistats.exe'
                                DiskId='1'
                                Source='target\release\psistats.exe'
                                KeyPath='yes'/>
                        </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <!==
              Comment out or remove the following `ComponentRef` tag to remove
              the license sidecar file from the installer.
            ==>
            <ComponentRef Id='License'/>
            <ComponentRef Id='PsistatsServiceExe'/>
            <ComponentRef Id='PsistatsServiceXml'/>
            <ComponentRef Id='PsistatsToml'/>
            <ComponentRef Id='binary0'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <CustomAction Id='POST_INSTALL'
          Execute="deferred"
          FileKey="PsistatsServiceExeFile"
          Impersonate="no"
          Return="ignore"
          HideTarget="no"
          ExeCommand="install"/>

        <CustomAction Id='POST_UNINSTALL'
          Execute="deferred"
          FileKey="PsistatsServiceExeFile"
          Impersonate="no"
          Return="ignore"
          HideTarget="no"
          ExeCommand="uninstall"/>

        <InstallExecuteSequence>
          <Custom Action="POST_INSTALL" After="InstallFiles">(NOT Installed) AND (NOT REMOVE)</Custom>
          <Custom Action="POST_UNINSTALL" After="InstallInitialize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE~="ALL")</Custom>
        </InstallExecuteSequence>



        <!==
          Uncomment the following `Icon` and `Property` tags to change the product icon.

          The product icon is the graphic that appears in the Add/Remove
          Programs control panel for the application.
        ==>
        <!==<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>==>
        <!==<Property Id='ARPPRODUCTICON' Value='ProductICO' />==>

        <Property Id='ARPHELPLINK' Value='https://www.psikon.org'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <!==
              Disabling the EULA dialog in the installer is a two step process:

                 1. Uncomment the following two `Publish` tags
                 2. Comment out or remove the `<WiXVariable Id='WixUILicenseRtf'...` tag further down

            ==>
            <!==<Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>==>
            <!==s<Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>==>

        </UI>

        <!==
          Disabling the EULA dialog in the installer requires commenting out
          or removing the following `WixVariable` tag
        ==>
        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>


        <!==
          Uncomment the next `WixVaraible` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom banner image across
          the top of each screen. See the WiX Toolset documentation for details
          about customization.

          The banner BMP dimensions are 493 x 58 pixels.
        ==>
        <!==<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>==>


        <!==
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom image to the first
          dialog, or screen. See the WiX Toolset documentation for details about
          customization.

          The dialog BMP dimensions are 493 x 312 pixels.
        ==>
        <!==<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>==>



    </Product>

</Wix>
-->
